# 1. Introduction

Imports

In [4]:
import pandas as pd
import seaborn as sns
df = pd.read_csv("StudentsPerformance.csv")
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Logical Variable Creation

In [5]:
df["test prepartion course completed"] = 1*(df["test preparation course"] == "completed")

Renaming of Columns

In [10]:
df = df.rename(columns = {"parental level of education":"parental_education", "test preparation course": "test_prep", "math score": "math_score", "reading score":"reading_score", "writing score": "writing_score"})

In [11]:
df.head(5)

,gender,race/ethnicity,parental_education,lunch,test_prep,math_score,reading_score,writing_score,test prepartion course completed
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,0
3,male,group A,associate's degree,free/reduced,none,47,57,44,0
4,male,group C,some college,standard,none,76,78,75,0

### Dataset Introduction

This dataset, pulled from Kaggle, contains information on 1,000 students and variables that may factor inro their academic performance. Within the dataset there are 8 variables: the gender of the student, the race of the student (classified by groups), the education level of a parent, whether the student had standard or free lunch, whether the student engages in some form of test preparation, and the scores of the student in math, reading, and writing, out of 100.